openai
langchain
langchain-openai
langchain-community
langchain-core
langchain_pinecone
langchain[docarray]
langchain-chroma
chromadb==0.5.3
docarray
pydantic>=2.0.0
python-dotenv
pinecone-client
scikit-learn
ruff
beautifulsoup4
streamlit